.about {
    width: 100%;
    height: auto;
    background-color: white;
    padding: 50px 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__container {
    width: 85%;
}

.about__container .bio {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 25px;
}

.decsription {
    width: 50%;
}

.decsription p {
    font-size: 20px;
    font-family: Helvetica, Sans-Serif;
    font-weight: 400;
}

.tech {
    width: 50%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.tech__title {
    text-align: center;
    font-size: 1.25em;
    font-weight: 700;
    margin-bottom: 0;
    color: #4F4F51;
    text-decoration: underline;
}

.tech__list {
    display:flex;
    width: 100%;
    max-width: 500px;
    flex-direction: row;
    justify-content: space-evenly;
}

.tech__list li:before {
    content: "•"; 
    color: #F58F7C;
    font-size: 2em;
    padding-right: 10px;
    vertical-align: bottom;
    
}

.tech__list ul {
    list-style: none;
    font-size: 20px;
    font-family: Helvetica, Sans-Serif;
    font-weight: 400;
    line-height: 35px;
}

@media (max-width: 1050px) {

    .about {
        padding: 50px 50px 0px 50px;
    }

    .about__container .bio {
        flex-direction: column;
    
    }

    .decsription {
        width: 100%;
    }

    .tech {
        width: 100%;
    }

  }

@media (max-width: 700px) {
    .about {
        padding: 50px 25px 0px 25px;
    }
    
}

@media (max-width: 450px) {
    .tech__list ul {
        padding: 0 0 0 10px;
    }
}




