.header {
    top: 0;
    position: sticky;
    height: 85px;
    width: 100%;
    background-color: white;
    padding: 0 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 10;
    overflow:hidden
}

.header_contiainer {
    max-width: 1200px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

header.active {
    box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.15);
}

.header__title {
    display: flex;
    height: 100%;
    align-items: center;
    animation: slideInTitle 1.5s;
    cursor: pointer; 
}

.header__title .title {
    color: #F58F7C;
    font-size: 45px;
    font-weight: 600;
    margin: 0;
}

.header__navLinks {
    display: flex;
    height: 100%;
    align-items: center;
    animation: slideInNav 1.5s;
}

.header__navLinks .text {
    margin:0;
    font-size: 25px;
    font-weight: 400;
    padding-left: 25px;
    color: #F58F7C;
}

.header__navLinks .icon {
    margin: 0;
    height: 40px;
    padding-left: 25px;
    width: auto;
    cursor: pointer;   
}


@media (max-width: 1200px) {

    .header {
        padding: 0 25px;
    }
  }

@media (max-width: 700px) {

    .header__title {
        display: none;
    }

    .header_contiainer { 
        justify-content: center;
    }

    .header {
        justify-content: center;
    }
  }

  @media (max-width: 450px) {

    .header__navLinks .text {
        font-size: 20px;
        font-weight: 500;
        padding: 0 10px;
    }
    
    .header__navLinks .icon {
        height: 30px;
        padding: 0 10px;
    }
  }


  @keyframes slideInNav {
    0% {
        margin-right: -20%;
        opacity: 0%;
      }
    25% {
        opacity: 0%;
        }  
    
    100% {
        margin-right: 0%;
        opacity: 100%;
      }
  }

  @keyframes slideInTitle {
    0% {
        margin-left: -20%;
        opacity: 0%;
      }
    25% {
        opacity: 0%;
    }  
    
    100% {
        margin-left: 0%;
        opacity: 100%;
      }
  }
  


  